table {
  border-spacing: 0;
  font-family: sans-serif;
}

tr:nth-child(even) {
  background-color: #ddd;
}

caption {
  background-color: black;
  color: wheat;
  padding: 1em;
}

thead > tr  th {
  background-color: gray;
  color: white;
  padding: 0.7em;
}

thead > tr th:first-child {
  background-color: black;
}

tbody  td {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
  text-align: center;
}

tbody td:first-child {
  text-align: left;
}

tbody td:last-child {
  border-right: 1px solid #ccc;
}