* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #5DB7DE;
    margin: auto;
    height: 8em;
  }

  header h1 {
    margin: 0;
    padding: 1em;
    font-weight: 400;
    text-align: center;
  }

  #imgcontainer {
    position: relative;
    height: 30em;
  }

#hero-img {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
    filter: saturate(200%);
}

nav {
    display: none;
}

nav a {
    display: block;
    margin: 0;
    padding: 0.5em;
  }

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

nav ul {
    background-color: #716A5C;
    color: white;
}

nav li {
    list-style-type: none;
    text-align: center;
}

footer {
    padding: 3em;
    background-color: #07020D;
    color: #5DB7DE;
    position: unset;
  }

  .active {
    color: yellow;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bolder;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

#menu {
    padding: 0 48%;
    text-align: center;
}

.open {
    display: block;
}

.cta {
    position: absolute;
    text-align: center;
    border-radius: 25px;
    border: 3px white solid;
    top: 30%;
    left: 10%;
    width: 80%;
    padding: 1em;
    margin: auto;
    background-color: #5DB7DE;
    color:#07020D;
  }

.cta a {
  text-decoration: none;
  color: black;
}

.container {
  background-color: #5DB7DE;
  display: flex;
  flex-direction: column;
}

.container section {
  padding: 1em;
  margin: 1em;
}

main div h2 {
  display: block;
}



#columncontainer {
  background-color: #5DB7DE;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 1em;
  text-justify: auto;
}

#columncontainer section {
  margin: 1em;
}