* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

header {
    background-color: deepskyblue;
    height: 150px;
    display: block;
    text-align: center;
    position: relative;
}

#profile {
    width: 120px;
    height: auto;
    top: 15px;
    left: 10px;
    border-radius: 50%;
    position: absolute;
    display: block;
    border: 5px white solid;
}

header span {
    display: block;
    font-size: 1.7rem;
    padding: 2em 20% 0 30%;
    text-align: center;
    color: white;
}

body {
    font-family: "Roboto";
    font-weight: 400;
    width: 100%;
    margin: auto;
}

h1 {
    font-weight: 100;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    margin: 1em 0.5em;
}

nav {
    background-color: darkmagenta;
    color: white;
}

nav li {
    list-style-type: none;
}

nav a {
    display: none;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    color: white;

}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.active {
    color: yellow;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bolder;
}

.card {
    margin: 10px;
    background-color: azure;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid darkcyan;
    overflow: hidden;
    color: black;
}

.card:nth-child(even) {
    text-align: center;
}

.card h2 {
    background-color: darkcyan;
    color: white;
    padding-left: 10px;
}

.card li {
    padding: 10px 20px;
}

footer {
    background-color: beige;
    padding: 10px;
    text-align: center;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

#menu {
    padding: 0 48%;
    text-align: center;
}

.open a {
    display: block;
}

#drkBtn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0em;
    right: -5em;
    cursor: pointer;
}

main.dark {
    background-color: darkslategray;
    color: white;
}

.card.dark {
    color: black;
}